<div class="showreel">
    <video id="player" playsinline autoplay muted loop>
        <source src="/videos/showreel.mp4" type="video/mp4">
        Your browser doesn't support HTML5 video.
    </video>
</div>

<div class="services">
    <h2 class="services_title">Mes services</h2>
    <hr class="line">
    <div class="services_container">
        <a href="/projects?filter=Prise%20de%20vue" class="service_category">
            <h2 class="service_category_title"><span class="dot">.</span>Prise de vue</h2>
            <p class="service_category_text">Je réalise des prises de vue soignées en maîtrisant le cadrage, la lumière
                et les mouvements de caméra, afin de capter des images esthétiques, cohérentes et adaptées au
                projet.</p>
        </a>
        <a href="/projects?filter=Motion" class="service_category">
            <h2 class="service_category_title"><span class="dot">.</span>Motion Design</h2>
            <p class="service_category_text">J'apporte du dynamisme à tes vidéos grâce à des animations graphiques et
                des effets visuels, pour un rendu impactant.</p>
        </a>
        <a href="/projects?filter=Sound-Design" class="service_category">
            <h2 class="service_category_title"><span class="dot">.</span>Sound Design et Mixage</h2>
            <p class="service_category_text">Je crée et intègre des sons sur-mesure pour renforcer l'ambiance et
                l'émotion, afin que chaque vidéo soit immersive.</p>
        </a>
        <a href="/projects?filter=Réalisation" class="service_category">
            <h2 class="service_category_title"><span class="dot">.</span>Réalisation</h2>
            <p class="service_category_text">Je prends en charge la réalisation de A à Z, de l’idée
                initiale à la version finale, en coordonnant la mise en scène, le tournage et la post-production pour
                donner vie à une vidéo fluide.</p>
        </a>
    </div>
    <div class="explore_btn_container">
        <a href="/projects" class="explore_btn">Mes projets</a>
    </div>
</div>